<h1>Users</h1>
<ul>
  <li>
    <a href="users/1">
      <div>
        <h2>User name</h2>
        <p>Number of posts: x</p>
      </div>
    </a>
  </li>
  <li>
    <a href="users/2">
      <div>
        <h2>User name</h2>
        <p>Number of posts: x</p>
      </div>
    </a>
  </li>
</ul>