<div>
  <div>
    <h2>Username</h2>
    <p>Number of posts: x</p>
  </div>

  <div>
    <div>
      <p>Post #1</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
    </div>
    <div>
      <ul>
        <li>username: comment 1</li>
        <li>username: comment 2</li>
        <li>username: comment 3</li>
        <li>username: comment 4</li>
      </ul>       
    </div>
  </div>
</div>